@font-face {
    font-family: "LilGrotesk";
    src: url("../fonts/LilGroteskVF.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
}
@font-face {
  font-family: 'LeagueSpartan';
  font-weight: 100 900;
  font-display: swap;
  src: url("../fonts/LeagueSpartan.woff2") format('woff2');
}