@font-face {
    font-family: "LilGrotesk";
    src: url("../fonts/LilGroteskVF.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
}
@font-face {
    font-family: "Nemoy";
    src: url("../fonts/NemoyVF.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
}
@font-face {
    font-family: "Crude";
    src: url("../fonts/Crude.otf") format("opentype");
    font-weight: 400;
    font-display: swap;
}
