@font-face {
    font-family: "LilGrotesk";
    src: url("../fonts/LilGroteskVF.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
}
@font-face {
    font-family: "LilitaOne";
    src: url(https://fonts.gstatic.com/s/lilitaone/v17/i7dPIFZ9Zz-WBtRtedDbYEF8RQ.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
}